.link {
    text-decoration: none;
}

.align-center {
    text-align: center !important;
}

.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}

.table {
    width: 100%;
}


.table th{
    border-bottom: 2px solid #e1e1e1;
}

.table td {
    border-bottom: 1px solid #e1e1e1;
}